[submodule "app/src/main/cpp/libandroid-shmem"]
	path = app/src/main/cpp/libandroid-shmem
	url = https://github.com/termux/libandroid-shmem
	ignore = dirty
[submodule "app/src/main/cpp/libmd"]
	path = app/src/main/cpp/libmd
	url = https://git.hadrons.org/git/libmd
	ignore = dirty
[submodule "app/src/main/cpp/libtirpc"]
	path = app/src/main/cpp/libtirpc
	url = https://github.com/alisw/libtirpc
	ignore = dirty
[submodule "app/src/main/cpp/drm"]
	path = app/src/main/cpp/drm
	url = https://gitlab.freedesktop.org/mesa/drm
	ignore = dirty
[submodule "app/src/main/cpp/freetype"]
	path = app/src/main/cpp/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
	ignore = dirty
[submodule "app/src/main/cpp/pixman"]
	path = app/src/main/cpp/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman
	ignore = dirty
[submodule "app/src/main/cpp/libfontenc"]
	path = app/src/main/cpp/libfontenc
	url = https://gitlab.freedesktop.org/xorg/lib/libfontenc
	ignore = dirty
[submodule "app/src/main/cpp/libxext"]
	path = app/src/main/cpp/libxext
	url = https://gitlab.freedesktop.org/xorg/lib/libxext
	ignore = dirty
[submodule "app/src/main/cpp/libxau"]
	path = app/src/main/cpp/libxau
	url = https://gitlab.freedesktop.org/xorg/lib/libxau
	ignore = dirty
[submodule "app/src/main/cpp/libxcb"]
	path = app/src/main/cpp/libxcb
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb
	ignore = dirty
[submodule "app/src/main/cpp/libxdmcp"]
	path = app/src/main/cpp/libxdmcp
	url = https://gitlab.freedesktop.org/xorg/lib/libxdmcp
	ignore = dirty
[submodule "app/src/main/cpp/libxfont"]
	path = app/src/main/cpp/libxfont
	url = https://gitlab.freedesktop.org/xorg/lib/libxfont
	ignore = dirty
[submodule "app/src/main/cpp/libxrender"]
	path = app/src/main/cpp/libxrender
	url = https://gitlab.freedesktop.org/xorg/lib/libxrender
	ignore = dirty
[submodule "app/src/main/cpp/libxrandr"]
	path = app/src/main/cpp/libxrandr
	url = https://gitlab.freedesktop.org/xorg/lib/libxrandr
	ignore = dirty
[submodule "app/src/main/cpp/libxkbfile"]
	path = app/src/main/cpp/libxkbfile
	url = https://gitlab.freedesktop.org/xorg/lib/libxkbfile
	ignore = dirty
[submodule "app/src/main/cpp/libxshmfence"]
	path = app/src/main/cpp/libxshmfence
	url = https://gitlab.freedesktop.org/xorg/lib/libxshmfence
	ignore = dirty
[submodule "app/src/main/cpp/libxtrans"]
	path = app/src/main/cpp/libxtrans
	url = https://gitlab.freedesktop.org/xorg/lib/libxtrans
	ignore = dirty
[submodule "app/src/main/cpp/libepoxy"]
	path = app/src/main/cpp/libepoxy
	url = https://github.com/anholt/libepoxy
	ignore = dirty
[submodule "app/src/main/cpp/libxcvt"]
	path = app/src/main/cpp/libxcvt
	url = https://gitlab.freedesktop.org/xorg/lib/libxcvt
	ignore = dirty
[submodule "app/src/main/cpp/libxfixes"]
	path = app/src/main/cpp/libxfixes
	url = https://gitlab.freedesktop.org/xorg/lib/libxfixes
	ignore = dirty
[submodule "app/src/main/cpp/libxxf86vm"]
	path = app/src/main/cpp/libxxf86vm
	url = https://gitlab.freedesktop.org/xorg/lib/libxxf86vm
	ignore = dirty
[submodule "app/src/main/cpp/libx11"]
	path = app/src/main/cpp/libx11
	url = https://gitlab.freedesktop.org/xorg/lib/libx11
	ignore = dirty
[submodule "app/src/main/cpp/xcbproto"]
	path = app/src/main/cpp/xcbproto
	url = https://gitlab.freedesktop.org/xorg/proto/xcbproto
	ignore = dirty
[submodule "app/src/main/cpp/xorgproto"]
	path = app/src/main/cpp/xorgproto
	url = https://gitlab.freedesktop.org/xorg/proto/xorgproto
	ignore = dirty
[submodule "app/src/main/cpp/xkbcomp"]
	path = app/src/main/cpp/xkbcomp
	url = https://gitlab.freedesktop.org/xorg/app/xkbcomp
	ignore = dirty
[submodule "app/src/main/cpp/xserver"]
	path = app/src/main/cpp/xserver
	url = https://gitlab.freedesktop.org/xorg/xserver
	ignore = dirty
[submodule "app/src/main/cpp/mesa"]
	path = app/src/main/cpp/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa
	ignore = dirty
[submodule "app/src/main/cpp/virglrenderer"]
	path = app/src/main/cpp/virglrenderer
	url = https://gitlab.freedesktop.org/virgl/virglrenderer
	ignore = dirty
[submodule "app/src/main/cpp/libxkbcommon"]
	path = app/src/main/cpp/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon
	ignore = dirty
[submodule "app/src/main/cpp/libxcb-errors"]
	path = app/src/main/cpp/libxcb-errors
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-errors
	ignore = dirty
[submodule "app/src/main/cpp/flac"]
	path = app/src/main/cpp/flac
	url = https://github.com/xiph/flac
	ignore = dirty
[submodule "app/src/main/cpp/libsndfile"]
	path = app/src/main/cpp/libsndfile
	url = https://github.com/libsndfile/libsndfile
	ignore = dirty
[submodule "app/src/main/cpp/libtool"]
	path = app/src/main/cpp/libtool
	url = https://git.savannah.gnu.org/git/libtool.git
	ignore = dirty
[submodule "app/src/main/cpp/ogg"]
	path = app/src/main/cpp/ogg
	url = https://github.com/xiph/ogg
	ignore = dirty
[submodule "app/src/main/cpp/vorbis"]
	path = app/src/main/cpp/vorbis
	url = https://github.com/xiph/vorbis
	ignore = dirty
[submodule "app/src/main/cpp/pulseaudio"]
	path = app/src/main/cpp/pulseaudio
	url = https://gitlab.freedesktop.org/pulseaudio/pulseaudio
	ignore = dirty

