<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:ignore="DataExtractionRules,GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:taskAffinity=".MainActivity"
            android:launchMode="singleInstance"
            android:supportsPictureInPicture="true"
            android:configChanges="fontScale|orientation|screenSize|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|touchscreen|uiMode|smallestScreenSize|density"
            android:resizeableActivity="true"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.SECONDARY_HOME" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight"
            android:excludeFromRecents="true"
            android:name=".LoriePreferences"
            android:taskAffinity=".LoriePreferences"
            android:supportsPictureInPicture="false"
            android:resizeableActivity="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
	    <meta-data android:name="com.samsung.android.multidisplay.keep_process_alive" android:value="false"/>
	    <meta-data android:name="android.allow_multiple_resumed_activities" android:value="true" />

        <service android:name=".utils.KeyInterceptor"
            android:exported="true"
            android:label="Termux:X11 KeyInterceptor"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver android:name=".LoriePreferences$Receiver" android:exported="true" tools:ignore="ExportedReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.termux.x11.CHANGE_PREFERENCE" />
            </intent-filter>
        </receiver>
    </application>
    <queries>
        <package android:name="com.termux" />
    </queries>
</manifest>
