<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="com.termux"
    tools:ignore="Deprecated">
    <!-- Keeps termux-x11's process from being classified separately from termux's own cpuset. -->
    <application android:process="com.termux" />
</manifest>
